* {
    font-family: Candara;
    letter-spacing: 4px;
    margin: 0;
}

/* homepage */
.home-page {
    background-image: url("images/bigfood.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.recommendation {
    color: wheat;
    text-align: center;
    font-size: 25px;
    padding: 150px 10px 10px 500px;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.btn-2 {
    width: 300px;
    height: 100px;
    border: none;
    color: black;
    border-radius: 50px;
    transition: ease-out 0.3s;
    font-size: 2.7rem;
    outline: none;
    border: 3px solid black;
    position: center;
    z-index: 1;
    background-color: wheat;
    margin: 75px 10px 10px 500px;

}

.btn-2:hover {
    color: green;
    cursor: pointer;
}

/* help choose */

.help-choose {
    background-image: url("images/cutting-board.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.least {
    font-size: 3.1rem;
    padding: 225px 0px 0px 180px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.columns {
    display: flex;
}

.left-pic {
    width: 250px;
    height: 200px;
    margin-left: 290px;
    margin-top: 60px;
    margin-right: 40px;
    border: 15px solid white;
}

.right-pic {
    width: 250px;
    height: 200px;
    margin-right: 300px;
    margin-top: 60px;
    border: 15px solid white;
}