<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Decision Maker</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        </head>
        <body>
            <div class="help-choose">
                <div>
                    <h1 class="least">Which dish do you like the least?</h1>
                </div>
                <div class="columns">
                    <div>
                        <a href=""><img class="left-pic" src="{{ url_for('static', filename='images/meat/hamburger.jpg') }}"></a>
                    </div>
                    <div>
                        <a href=""><img class="right-pic" src="{{ url_for('static', filename='images/veggie/chicken-salad.jpg') }}"></a>
                    </div>
                </div>
            </div>
        </body>
    </html>